body {
  margin-right: auto;
  margin-left: auto;
  width:1200px;
  background-color:#1a2325;
}

.redbarheader {
	background-color:#f8695a;
	height:3px;
	margin-top:-8px;
	position:absolute;
	right:0;
	left:0;
}

.logo{
	margin-left:20px;
	margin-top:-8px;
}

.heading{
  font-size:36px;
  font-family:"Quatro Slab";
  color:white;
  font-weight:200;
  width:350px;
  font-weight:lighter;
  /*  Anne E Harney */  
}

.p-size-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#555a5b;
	font-weight:500;
	width:200px;
    margin-top:-20px;
    margin-bottom: 30px;
    font-weight:lighter;
}

.p-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#abadad;
	width:360px;
	line-height: 22px;
	font-weight:lighter;
	/*background-color:green;*/
}

.how-its-made{
	font-size:16px;
	font-family:"LFT Etica";
	color:#01bfc1;
	text-decoration:none;
	padding:0px 165px 25px 0px;
	border-bottom:1px dotted #31393b;
	font-weight:lighter;
	/*background-color: green;*/
}

.price{
	font-family:"Quatro Slab";
	color:white;
	font-size:24px;
	font-weight:200;
	padding-top:50px;
	width:400px;
}

.button{
	color:white;
	font-family:"LFT Etica";
	text-transform:uppercase;
	background-color:#01ccce;
	border:.5px solid #4dd9da;
	padding: 11px 30px 11px 30px;
	margin-left:20px;
	width:175px;
	text-decoration:none;
	text-align:center;
	font-size:14px;
	font-weight:bold;
}

.image{
	position:relative;
	top:-530px;
	float:right;
	clear:both;
}

/*.price, .button{
	margin-top:90px;
}*/

/*.image-1{
	float:right;
    clear:both;
    margin-top:-530px;
}

.image-2{
	float:right;
    clear:both;
    margin-top:-490px;
}

.image-3{
	float:right;
	clear:both;
	margin-top:-490px;
}
*/







a:visited{
  color:#f8695a;
}

a:hover{
  color:#f8695a;
}

a:active{
  color:yellow;
}

/*Spacing Between Articles*/

article{
	padding-bottom:350px;
	margin-top:90px;
	margin-left:20px;
	border-bottom:1px solid #31393b;
}

article:nth-child(3){
	padding-bottom:400px;
}

article:not-last-child{
	border-bottom:1px solid #4b5152;
}

/*
OLD BORDER STUFF
.dotted-border{
	border-bottom: 0.5px dotted #abadad;
	width:370px;
	margin-top:25px;
}

.solid-border{
	border: 0.1px solid #abadad;
	margin: 360px 8px 0 0;
}
*/

/*
Old Spacing Between Articles, All Separate
article:nth-of-type(1){
	margin-top:90px;
	margin-left:20px;
}

article:nth-of-type(2){
	margin-top:90px;
	margin-left:20px;
}

article:nth-of-type(3){
	margin-top:90px;
	margin-left:20px;
}
*/


/*Image Styling*/

/*
    float: right;
    clear: both;
    margin-top: -380px;
    width: 600px;
    height: 800px;
}
*/

/*.image{
	float:right;
	clear:both;
	padding-top:100px;
	margin: 45px 30px 0 100px;
}*/


/*
.heading, .image{
	display:inline-block;
	vertical-align:top;
}
*/

