body{
	background-color:#6ac9ca;
	margin:0px;

}

header{
	margin-right:right;
	margin-left:auto;
}

a{
	text-decoration: none;
}

p{
	font-family:Open Sans;
	font-size:16px;
	font-weight:400;
	line-height:20px;
}

.logo{
	height:80px;
	padding:0px;
}

/*
ABOUT ME ABOUT ME ABOUT ME
*/

.AboutMePic{
	height:50%;
	width:50%;
	float:right;
	padding-top:-40px;
	padding-left:40px;
	/*margin-right:-40px;*/
	margin-right:0%;
}

.article-about-me, .project-article,{
	padding-left:30px;
	padding-top:150px;
}

.heading-about-me, .project-header{
	font-family:Open Sans;
	font-size:60px;
	font-weight:700;
	padding-bottom:10px;
	padding-left:30px;
}

.heading-talk-me{
	padding-top:200px;
}

.p-about-me, .project-p{
	width:45%;
	padding-left:40px;
}


/*
CONTACT CONTACT CONTACT
*/

.heading-talk-me, .heading-check-me {
	font-family:Open Sans;
	font-size:60px;
	font-weight:700;
	padding-bottom:10px;
	padding-left:30px;
}

.heading-check-me{
	padding-top:20px;
}

.p-contact{
	padding-left:40px;
	padding-top:20px;
}

/*
PROJECTS PROJECTS PROJECTS
*/

.project-image, .project-image-small, .pic-grid-img{
	height: 300px;
	width: 300px;
	padding-top:100px;

}

.p-project{
	width:50%;
	padding-left:30px;
	padding-bottom:100pc;
}

/*
3D INTERVENTION 3D INTERVENTION
*/

.project-header{

}

.project-p{

}

.project-image-small{
	transform: rotate(90deg);
}

/*.navbar{
	position:fixed;
}*/

header{
	position:fixed;
	width:100%;
	z-index:1;
}

ul{
	list-style-type:none;
	margin:0px;
	padding-bottom:50px;
	background-color:#fffbcf;
	overflow:hidden;
	height:3px;
}

li{
    float: left;
    height: 40px;
    width: 140px;
    padding-right: 5px;
    padding-left: 5px;
}

.logo-link{

}

li a{
	display:block;
	color:black;
	text-align:center;
	padding:18.5px 0px 18px 0px;
	text-decoration:none;
	font-family:Open Sans;
	font-size:16px;
	font-weight:400;
}

.nav-link{
	padding-right:80px;
	padding-left:80px;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #6ac9ca;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#fffbcf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



/*
PROJECT IMAGE GRID -- PROJECT IMAGE GRID
*/


.pic-grid-div {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  padding-right:30px;
  padding-bottom:50px;
}

.pic-grid-a {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

.pic-grid-a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .pic-grid-a {
    width: calc(25% - 6px);
  }
  
  .pic-grid-a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  .pic-grid-a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.pic-grid-a:hover img {
  transform: scale(1.07);
}

figure {
  margin: 0;
  overflow: hidden;
  padding:10px 40px 20px 40px;
  text-decoration: none;
}

figcaption {
  margin-top: 15px;
  width:100%;
  margin-right:10px;
  text-decoration: none;
  color:black;
  font-family:Open Sans;
  font-size:16px;
  line-height: 20px;
}

.pic-grid-image {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.pic-grid-a {
  display: inline;
  font-size: 13px;
  margin: 0;
  color: blue;
}

figure figcaption{
	text-decoration: none;
}

/*
CONTACT ICON CONTACT ICON CONTACT ICON
*/

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: #FFF8DC;
  fill: #FFF8DC;
  height:4%;
  width:4%;
  padding:12px;
  
}

.icon:hover{
  fill:#FCDC3B;
  cursor: pointer;
}







