
*{
	background-color:#1a2325;
}

.heading{
  font-size:36px;
  font-family:"Quatro Slab";
  color:white;
}

.p-size-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#555a5b;
	font-weight:500;
}

.p-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#abadad;
}

.how-its-made{
	font-size:16px;
	font-family:"LFT Etica";
	color:#01bfc1;
	text-decoration:none;
}

,.button{

}
