


*{
	background-color:#1a2325;
}

body {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}

.redbarheader {
	background-color:#f8695a;
	height:2px;
}

.logo{
	margin-left:20px;
}

.heading{
  font-size:36px;
  font-family:"Quatro Slab";
  color:white;
  font-weight:200;
  width:350px;
  /* For Now 
  background-color:green;
  Anne E Harney*/  
}

.p-size-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#555a5b;
	font-weight:500;
	width:200px;
	/* For Now 
    background-color:green;
    */
    margin-top:-20px;
    margin-bottom: 30px;
}

.p-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#abadad;
	width:370px;
	line-height: 22px;
	/* For Now 
    background-color:green;
    */
}

.how-its-made{
	font-size:16px;
	font-family:"LFT Etica";
	color:#01bfc1;
	text-decoration:none;
	/* For Now 
    background-color:green;
    */
}

.dotted-border{
	border-bottom: 0.5px dotted #abadad;
	width:370px;
	margin-top:25px;
}

.solid-border{
	border: 0.1px solid #abadad;
	margin-top:360px;
	border-bottom-width:1200;
}

.price{
	font-family:"Quatro Slab";
	color:white;
	font-size:24px;
	font-weight:200;
	padding-right:10px;
	padding-top:10px;
	/* For Now 
    background-color:green;
    */
}

.button{
	color:white;
	font-family:"LFT Etica";
	text-transform:uppercase;
	background-color:#01bfc1;
	padding: 9px 6px 9px 6px;
	margin-left:8px;
	width:75px;
	text-decoration:none;
	text-align:center;
	font-size:12px;
}

.price, .button{
	display:inline-block;
}

/*Spacing Between Articles*/
article:nth-of-type(1){
	margin-top:0px;
	margin-left:20px;
}

article:nth-of-type(2){
	margin-top:90px;
	margin-left:20px;
}

article:nth-of-type(3){
	margin-top:90px;
	margin-left:20px;
}

/*Image Styling*/
.image{
	float:right;
    padding: 25px 30px 125px 20px;
}

.image:nth-of-type(2){
	padding: 50px 30px 75px 20px;
}

.image:nth-of-type(3){
	padding: 60px 30px 75px 20px;
}
/*
.heading, .image{
	display:inline-block;
	vertical-align:top;
}
*/

