
*{
	background-color:#1a2325;
}

body {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

.heading{
  font-size:36px;
  font-family:"Quatro Slab";
  color:white;
  font-weight:200;
}

.p-size-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#555a5b;
	font-weight:500;
}

.p-description{
	font-size:16px;
	font-family:"LFT Etica";
	color:#abadad;
}

.how-its-made{
	font-size:16px;
	font-family:"LFT Etica";
	color:#01bfc1;
	text-decoration:none;
	border-bottom: 0.5px dotted #abadad;
}

.price{
	font-family:"Quatro Slab";
	color:white;
	font-size:24px;
	font-weight:200;
}

.button{
	color:white;
	font-family:"LFT Etica";
	text-transform:uppercase;
	background-color:#01bfc1;
}

.article:not-last-child{
	border-bottom: 0.5px solid #abadad;
}


